@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
}

body {
    background: hsl(205, 33%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#notificacoes {
    background: hsl(0, 0%, 100%);
    width: 600px;
    height: 800px;
    border-radius: 20px;
}

#main-ntf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

h1 {
    font-size: 20px;
}

#menu-ntf {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

#ntf-cln1 {
    background: hsl(210, 60%, 98%);
}

#ntf-cln2 {
    background: hsl(210, 60%, 98%);
}

#ntf-cln3 {
    background: hsl(210, 60%, 98%);
}

.barra-ntf {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.imgKim {
    margin-bottom: -10px;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.data-week-ago {
    margin-top: -10px;
}

#ntf-qtd {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    text-align: center;
    float: right;
    margin-left: 10px;
    
}

.str {
    color: hsl(219, 85%, 26%);
}

.msg-ntf {
    border: 2px solid hsl(205, 33%, 90%);
    border-radius: 2px;
    width: 450px;
    margin-left: 55px;
    margin-top: 10px;
    padding: 10px;
    color: hsl(219, 12%, 42%);
}

.kim {
    display: flex;
    flex-direction: column;
}

.kimm {
    display: flex;
    align-items: center;
    gap: 130px;
}

#date-ntf {
    color: hsl(219, 12%, 42%);
    border: none;
    background: none;
}

#date-ntf:hover {
    cursor: pointer;
}

.rizky {
    display: flex;
    flex-direction: column;
}

.img-ntf {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nao-lido {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: hsl(1, 90%, 64%);
    margin-top: 3px;
    margin-left: 5px;
}

.point-red  {
    display: flex;
}

a {
    text-decoration: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
}

  .attribution a {
    color: hsl(228, 45%, 44%);
}